# ANALYZING DISCTRICT WISE DATA

### The main aim of fifth part is to categorize districts into category A,B,C,D and E based on the testing ratio of the districts. The districts with higher testing ratio will be in category A and so on..

### The testing ratio can be defined as the number of tested covid people in a state divided by the total population of that particular state

In [1]:
#importing important libraries
import requests
import json
from pprint import pprint
import pandas as pd
from datetime import datetime,date

In [2]:
#Using the requests library to send an HTTP GET request to the specified URL. 
#The get() function retrieves the content of the URL and returns a Response object.
response= requests.get("https://data.covid19india.org/v4/min/data.min.json")

#Extracts the response content as text and uses the json.loads() function to parse the JSON data into a Python object.
#The parsed data is stored in the results variable.
results= json.loads(response.text)

In [53]:
#Using json_normalize() function to convert semi-structured JSON data into a tabular or "flat" format suitable for analysis
#The max_level=2 parameter specifies that only up to two levels of nested data should be flattened
r2=pd.json_normalize(results,max_level=2)
r2

,AN.delta.tested,AN.delta.vaccinated1,AN.delta.vaccinated2,AN.delta21_14.confirmed,AN.delta7.confirmed,AN.delta7.recovered,AN.delta7.tested,AN.delta7.vaccinated1,AN.delta7.vaccinated2,AN.districts.Nicobars,...,WB.meta.last_updated,WB.meta.population,WB.meta.tested,WB.meta.vaccinated,WB.total.confirmed,WB.total.deceased,WB.total.recovered,WB.total.tested,WB.total.vaccinated1,WB.total.vaccinated2
0,1376,3,13,9,3,5,8936,884,10640,"{'delta7': {'vaccinated1': 62, 'vaccinated2': ...",...,2021-11-01T09:54:14+05:30,96906000,"{'date': '2021-10-31', 'source': 'https://www....",{'date': '2021-10-31'},1592908,19141,1565471,19228303,56192166,21559747

In [54]:
#transposing the dataframe
r3=r2.transpose()
r3

                                0
AN.delta.tested              1376
AN.delta.vaccinated1            3
AN.delta.vaccinated2           13
AN.delta21_14.confirmed         9
AN.delta7.confirmed             3
...                           ...
WB.total.deceased           19141
WB.total.recovered        1565471
WB.total.tested          19228303
WB.total.vaccinated1     56192166
WB.total.vaccinated2     21559747

[1624 rows x 1 columns]

In [55]:
#modifying the DataFrame new by renaming the column labeled '0' to 'data'
r3.rename({0:'data'},axis=1,inplace=True)
r3

                             data
AN.delta.tested              1376
AN.delta.vaccinated1            3
AN.delta.vaccinated2           13
AN.delta21_14.confirmed         9
AN.delta7.confirmed             3
...                           ...
WB.total.deceased           19141
WB.total.recovered        1565471
WB.total.tested          19228303
WB.total.vaccinated1     56192166
WB.total.vaccinated2     21559747

[1624 rows x 1 columns]

In [56]:
#creating a new DataFrame called 'r5' by extracting the 'data' column from the DataFrame r3
#Also expanding it into separate columns using the apply() function with pd.Series.
r5=r3['data'].apply(pd.Series)
r5

,0,delta7,meta,total,delta,delta21_14,date,source
AN.delta.tested,1376.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AN.delta.vaccinated1,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AN.delta.vaccinated2,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AN.delta21_14.confirmed,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AN.delta7.confirmed,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
WB.total.deceased,19141.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WB.total.recovered,1565471.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WB.total.tested,19228303.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WB.total.vaccinated1,56192166.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WB.total.vaccinated2,21559747.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
#dropping irrelevant columns
r5.drop(columns=["delta7","delta","delta21_14","date","source"],inplace=True)
r5

                                  0 meta total
AN.delta.tested              1376.0  NaN   NaN
AN.delta.vaccinated1            3.0  NaN   NaN
AN.delta.vaccinated2           13.0  NaN   NaN
AN.delta21_14.confirmed         9.0  NaN   NaN
AN.delta7.confirmed             3.0  NaN   NaN
...                             ...  ...   ...
WB.total.deceased           19141.0  NaN   NaN
WB.total.recovered        1565471.0  NaN   NaN
WB.total.tested          19228303.0  NaN   NaN
WB.total.vaccinated1     56192166.0  NaN   NaN
WB.total.vaccinated2     21559747.0  NaN   NaN

[1624 rows x 3 columns]

In [58]:
#dropping the 0 column
r5.drop(columns=[0],inplace=True)
r5

                        meta total
AN.delta.tested          NaN   NaN
AN.delta.vaccinated1     NaN   NaN
AN.delta.vaccinated2     NaN   NaN
AN.delta21_14.confirmed  NaN   NaN
AN.delta7.confirmed      NaN   NaN
...                      ...   ...
WB.total.deceased        NaN   NaN
WB.total.recovered       NaN   NaN
WB.total.tested          NaN   NaN
WB.total.vaccinated1     NaN   NaN
WB.total.vaccinated2     NaN   NaN

[1624 rows x 2 columns]

In [59]:
#updating the DataFrame 'r5' by expanding the 'meta' column from the DataFrame df2 using the apply() function with pd.Series
#and concatinating it with r5
r5= pd.concat([r5,r5["meta"].apply(pd.Series)],axis=1)
r5

                        meta total   0  population tested vaccinated notes
AN.delta.tested          NaN   NaN NaN         NaN    NaN        NaN   NaN
AN.delta.vaccinated1     NaN   NaN NaN         NaN    NaN        NaN   NaN
AN.delta.vaccinated2     NaN   NaN NaN         NaN    NaN        NaN   NaN
AN.delta21_14.confirmed  NaN   NaN NaN         NaN    NaN        NaN   NaN
AN.delta7.confirmed      NaN   NaN NaN         NaN    NaN        NaN   NaN
...                      ...   ...  ..         ...    ...        ...   ...
WB.total.deceased        NaN   NaN NaN         NaN    NaN        NaN   NaN
WB.total.recovered       NaN   NaN NaN         NaN    NaN        NaN   NaN
WB.total.tested          NaN   NaN NaN         NaN    NaN        NaN   NaN
WB.total.vaccinated1     NaN   NaN NaN         NaN    NaN        NaN   NaN
WB.total.vaccinated2     NaN   NaN NaN         NaN    NaN        NaN   NaN

[1624 rows x 7 columns]

In [60]:
#updating the DataFrame 'r5' by expanding the 'total' column from the DataFrame df2 using the apply() function with pd.Series
#and concatinating it with r5
r5= pd.concat([r5,r5["total"].apply(pd.Series)],axis=1)
r5

,meta,total,0,population,tested,vaccinated,notes,0,vaccinated1,vaccinated2,confirmed,deceased,recovered,tested,other
AN.delta.tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AN.delta.vaccinated1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AN.delta.vaccinated2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AN.delta21_14.confirmed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AN.delta7.confirmed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WB.total.deceased,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WB.total.recovered,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WB.total.tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WB.total.vaccinated1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WB.total.vaccinated2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
#dropping irrelevant columns
r5.drop(columns=["meta","total","vaccinated","vaccinated","notes","vaccinated1","vaccinated2","confirmed"
                ,"deceased","recovered","other"],inplace=True)
r5

                          0  population  tested   0  tested
AN.delta.tested         NaN         NaN     NaN NaN     NaN
AN.delta.vaccinated1    NaN         NaN     NaN NaN     NaN
AN.delta.vaccinated2    NaN         NaN     NaN NaN     NaN
AN.delta21_14.confirmed NaN         NaN     NaN NaN     NaN
AN.delta7.confirmed     NaN         NaN     NaN NaN     NaN
...                      ..         ...     ...  ..     ...
WB.total.deceased       NaN         NaN     NaN NaN     NaN
WB.total.recovered      NaN         NaN     NaN NaN     NaN
WB.total.tested         NaN         NaN     NaN NaN     NaN
WB.total.vaccinated1    NaN         NaN     NaN NaN     NaN
WB.total.vaccinated2    NaN         NaN     NaN NaN     NaN

[1624 rows x 5 columns]

In [62]:
#dropping 0 column
r5.drop(columns=[0],inplace=True)
r5

                         population  tested  tested
AN.delta.tested                 NaN     NaN     NaN
AN.delta.vaccinated1            NaN     NaN     NaN
AN.delta.vaccinated2            NaN     NaN     NaN
AN.delta21_14.confirmed         NaN     NaN     NaN
AN.delta7.confirmed             NaN     NaN     NaN
...                             ...     ...     ...
WB.total.deceased               NaN     NaN     NaN
WB.total.recovered              NaN     NaN     NaN
WB.total.tested                 NaN     NaN     NaN
WB.total.vaccinated1            NaN     NaN     NaN
WB.total.vaccinated2            NaN     NaN     NaN

[1624 rows x 3 columns]

In [63]:
##modifying the DataFrame new by resetting the index and making the current index values become a column in the DataFrame.
r5.reset_index(level=0,inplace=True)

In [64]:
#modifying the DataFrame new by renaming the column labeled 'index' to 'districts'
r5.rename({'index':'districts'},axis=1,inplace=True)
r5

                    districts  population  tested  tested
0             AN.delta.tested         NaN     NaN     NaN
1        AN.delta.vaccinated1         NaN     NaN     NaN
2        AN.delta.vaccinated2         NaN     NaN     NaN
3     AN.delta21_14.confirmed         NaN     NaN     NaN
4         AN.delta7.confirmed         NaN     NaN     NaN
...                       ...         ...     ...     ...
1619        WB.total.deceased         NaN     NaN     NaN
1620       WB.total.recovered         NaN     NaN     NaN
1621          WB.total.tested         NaN     NaN     NaN
1622     WB.total.vaccinated1         NaN     NaN     NaN
1623     WB.total.vaccinated2         NaN     NaN     NaN

[1624 rows x 4 columns]

### IMPORTING THE ABOVE DATAFRAME TO MY SQL WORKBENCH DIRECTLY

In [30]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\hp\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\hp\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.1)
Note: you may need to restart the kernel to use updated packages.

In [65]:
import mysql.connector
from mysql.connector import Error
from sqlalchemy import create_engine

In [66]:
host_name = 'localhost'
db_name = 'pandas_db'
u_name = 'root'
u_pass = '12345'
port_num = '3306'

In [67]:
my_eng = create_engine('mysql+mysqlconnector://' +u_name+ ':' + u_pass + '@' + host_name + ':' + port_num + 
                      '/' + db_name , echo= False)

In [68]:
r5.to_sql(name='r5', con=my_eng, if_exists='append', index=False)

1624