# ANALYZING SEVERITY OF CASES ACROSS STATES

In [1]:
import requests
import json
from pprint import pprint
import pandas as pd
from datetime import datetime,date

In [2]:
response= requests.get("https://data.covid19india.org/v4/min/data.min.json")
results= json.loads(response.text)

In [3]:
df= pd.DataFrame(results)
df

,AN,AP,AR,AS,BR,CH,CT,DL,DN,GA,...,PY,RJ,SK,TG,TN,TR,TT,UP,UT,WB
delta,"{'tested': 1376, 'vaccinated1': 3, 'vaccinated...","{'confirmed': 385, 'deceased': 4, 'recovered':...","{'confirmed': 1, 'recovered': 9, 'tested': 334...","{'confirmed': 212, 'deceased': 1, 'recovered':...","{'confirmed': 8, 'recovered': 9, 'tested': 226...","{'confirmed': 5, 'recovered': 3, 'tested': 140...","{'confirmed': 32, 'deceased': 1, 'recovered': ...","{'confirmed': 45, 'recovered': 46, 'tested': 5...","{'recovered': 1, 'vaccinated1': 3, 'vaccinated...","{'confirmed': 23, 'recovered': 53, 'tested': 2...",...,"{'confirmed': 38, 'recovered': 45, 'tested': 2...","{'confirmed': 2, 'recovered': 2, 'tested': 134...","{'confirmed': 21, 'deceased': 1, 'recovered': ...","{'confirmed': 121, 'deceased': 1, 'recovered':...","{'confirmed': 1009, 'deceased': 19, 'recovered...","{'confirmed': 12, 'recovered': 2, 'tested': 35...","{'confirmed': 12907, 'deceased': 251, 'other':...","{'confirmed': 6, 'recovered': 6, 'tested': 161...","{'confirmed': 5, 'recovered': 9, 'tested': 952...","{'confirmed': 914, 'deceased': 15, 'recovered'..."
delta21_14,{'confirmed': 9},{'confirmed': 3220},{'confirmed': 87},{'confirmed': 1499},{'confirmed': 30},{'confirmed': 23},{'confirmed': 124},{'confirmed': 195},{'confirmed': 4},{'confirmed': 409},...,{'confirmed': 343},{'confirmed': 31},{'confirmed': 82},{'confirmed': 1068},{'confirmed': 8827},{'confirmed': 49},{'confirmed': 109755},{'confirmed': 74},{'confirmed': 88},{'confirmed': 4193}
delta7,"{'confirmed': 3, 'recovered': 5, 'tested': 893...","{'confirmed': 2873, 'deceased': 30, 'recovered...","{'confirmed': 66, 'recovered': 97, 'tested': 4...","{'confirmed': 2056, 'deceased': 24, 'recovered...","{'confirmed': 40, 'recovered': 31, 'tested': 1...","{'confirmed': 28, 'recovered': 20, 'tested': 1...","{'confirmed': 205, 'deceased': 5, 'recovered':...","{'confirmed': 267, 'recovered': 239, 'tested':...","{'recovered': 2, 'vaccinated1': 2802, 'vaccina...","{'confirmed': 222, 'deceased': 6, 'recovered':...",...,"{'confirmed': 278, 'recovered': 315, 'tested':...","{'confirmed': 27, 'recovered': 26, 'tested': 9...","{'confirmed': 79, 'deceased': 2, 'other': 6, '...","{'confirmed': 1189, 'deceased': 9, 'recovered'...","{'confirmed': 7407, 'deceased': 97, 'recovered...","{'confirmed': 87, 'recovered': 62, 'tested': 2...","{'confirmed': 96071, 'deceased': 3727, 'other'...","{'confirmed': 63, 'deceased': 1, 'recovered': ...","{'confirmed': 75, 'deceased': 1, 'other': 12, ...","{'confirmed': 6453, 'deceased': 86, 'recovered..."
districts,"{'Nicobars': {'delta7': {'vaccinated1': 62, 'v...","{'Anantapur': {'delta': {'confirmed': 4, 'reco...","{'Anjaw': {'delta7': {'vaccinated1': 45, 'vacc...","{'Baksa': {'delta': {'vaccinated1': 39, 'vacci...","{'Araria': {'delta': {'vaccinated1': 5177, 'va...","{'Chandigarh': {'delta': {'confirmed': 5, 'rec...","{'Balod': {'delta': {'vaccinated1': 523, 'vacc...","{'Delhi': {'delta': {'confirmed': 45, 'recover...",{'Dadra and Nagar Haveli': {'delta': {'vaccina...,"{'North Goa': {'delta': {'vaccinated1': 1070, ...",...,"{'Karaikal': {'delta': {'confirmed': 6, 'recov...","{'Ajmer': {'delta': {'vaccinated1': 110, 'vacc...",{'East Sikkim': {'delta7': {'vaccinated1': 528...,"{'Adilabad': {'delta': {'vaccinated1': 165, 'v...",{'Airport Quarantine': {'delta21_14': {'confir...,"{'Dhalai': {'delta': {'vaccinated1': 5, 'vacci...",NaN,"{'Agra': {'delta': {'vaccinated1': 178, 'vacci...","{'Almora': {'delta': {'vaccinated1': 37, 'vacc...","{'Alipurduar': {'delta': {'confirmed': 4, 'rec..."
meta,"{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...",...,"{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1..."
total,"{'confirmed': 7651, 'deceased': 129, 'recovere...","{'confirmed': 2066450, 'deceased': 14373, 'rec...","{'confirmed': 55155, 'deceased': 280, 'recover...","{'confirmed': 610645, 'deceased': 5997, 'other...","{'confirmed': 726098, 'deceased': 9661, 'other...","{'confirmed': 65351, 'deceased': 820, 'recover...","{'confirmed': 1006052, 'deceased': 13577, 'rec...","{'confirmed': 1439870, 'deceased': 25091, 'rec...","{'confirmed': 10681, 'deceased': 4, 'other': 3...","{'confirmed': 178108, 'deceased': 3364, 'recov...",...,"{'confirmed': 128013, 'deceased': 1857, 'recov...","{'confirmed': 954429, 'deceased': 8954, 'recov...","{'confirmed': 31979, 'deceased': 396, 'other':...","{'confirmed': 671463, 'deceased': 3956, 'recov...","{'confirmed': 2702623, 'deceased': 36116, 'rec...","{'confirmed': 84468, 'deceased': 813, 'other':...","{'confirmed': 34285612, 'deceased': 458470, 'o...","{'confirmed': 1710158, 'deceased': 22900, 'rec...","{'confirmed': 343896, 'deceased': 7400, 'other...","{'confirmed': 1592908, 'deceased': 19141, 'rec..."

In [9]:
df.drop('delta',inplace =True)
df.drop('delta21_14',inplace =True)
df.drop('delta7',inplace =True)
df.drop('meta',inplace =True)
df.drop('districts',inplace =True)

In [10]:
df2=df.transpose()
df2

                                                total
AN  {'confirmed': 7651, 'deceased': 129, 'recovere...
AP  {'confirmed': 2066450, 'deceased': 14373, 'rec...
AR  {'confirmed': 55155, 'deceased': 280, 'recover...
AS  {'confirmed': 610645, 'deceased': 5997, 'other...
BR  {'confirmed': 726098, 'deceased': 9661, 'other...
CH  {'confirmed': 65351, 'deceased': 820, 'recover...
CT  {'confirmed': 1006052, 'deceased': 13577, 'rec...
DL  {'confirmed': 1439870, 'deceased': 25091, 'rec...
DN  {'confirmed': 10681, 'deceased': 4, 'other': 3...
GA  {'confirmed': 178108, 'deceased': 3364, 'recov...
GJ  {'confirmed': 826577, 'deceased': 10089, 'reco...
HP  {'confirmed': 224106, 'deceased': 3738, 'other...
HR  {'confirmed': 771252, 'deceased': 10049, 'reco...
JH  {'confirmed': 348764, 'deceased': 5138, 'recov...
JK  {'confirmed': 332249, 'deceased': 4432, 'recov...
KA  {'confirmed': 2988333, 'deceased': 38082, 'oth...
KL  {'confirmed': 4968657, 'deceased': 31681, 'oth...
LA  {'confirmed': 20962, 'deceased': 208, 'recover...
LD  {'confirmed': 10365, 'deceased': 51, 'other': ...
MH  {'confirmed': 6611078, 'deceased': 140216, 'ot...
ML  {'confirmed': 83627, 'deceased': 1450, 'recove...
MN  {'confirmed': 123731, 'deceased': 1921, 'recov...
MP  {'confirmed': 792854, 'deceased': 10524, 'reco...
MZ  {'confirmed': 121359, 'deceased': 432, 'recove...
NL  {'confirmed': 31842, 'deceased': 685, 'other':...
OR  {'confirmed': 1041457, 'deceased': 8386, 'reco...
PB  {'confirmed': 602401, 'deceased': 16559, 'reco...
PY  {'confirmed': 128013, 'deceased': 1857, 'recov...
RJ  {'confirmed': 954429, 'deceased': 8954, 'recov...
SK  {'confirmed': 31979, 'deceased': 396, 'other':...
TG  {'confirmed': 671463, 'deceased': 3956, 'recov...
TN  {'confirmed': 2702623, 'deceased': 36116, 'rec...
TR  {'confirmed': 84468, 'deceased': 813, 'other':...
TT  {'confirmed': 34285612, 'deceased': 458470, 'o...
UP  {'confirmed': 1710158, 'deceased': 22900, 'rec...
UT  {'confirmed': 343896, 'deceased': 7400, 'other...
WB  {'confirmed': 1592908, 'deceased': 19141, 'rec...

In [11]:
new=df2['total'].apply(pd.Series)
new

,confirmed,deceased,recovered,tested,vaccinated1,vaccinated2,other
AN,7651.0,129.0,7518.0,598033.0,294001.0,200157.0,NaN
AP,2066450.0,14373.0,2047722.0,29518787.0,32976969.0,20375181.0,NaN
AR,55155.0,280.0,54774.0,1185436.0,771875.0,534486.0,NaN
AS,610645.0,5997.0,600974.0,24712042.0,20172463.0,8068795.0,1347.0
BR,726098.0,9661.0,716390.0,50531824.0,49874828.0,18346781.0,1.0
CH,65351.0,820.0,64495.0,792851.0,926035.0,546981.0,NaN
CT,1006052.0,13577.0,992159.0,13709510.0,14851682.0,7343273.0,NaN
DL,1439870.0,25091.0,1414431.0,29427753.0,13055636.0,7425404.0,NaN
DN,10681.0,4.0,10644.0,72410.0,660753.0,370255.0,31.0
GA,178108.0,3364.0,174392.0,1468399.0,1262568.0,911114.0,NaN
GJ,826577.0,10089.0,816283.0,30928063.0,44735217.0,25972387.0,NaN
HP,224106.0,3738.0,218410.0,3685011.0,5713695.0,3443823.0,16.0
HR,771252.0,10049.0,761068.0,13032504.0,17772376.0,8115463.0,NaN
JH,348764.0,5138.0,343518.0,15985878.0,14986646.0,5585648.0,NaN
JK,332249.0,4432.0,326915.0,16202346.0,9511073.0,5149471.0,NaN
KA,2988333.0,38082.0,2941578.0,50873103.0,42497761.0,22858384.0,29.0
KL,4968657.0,31681.0,4857181.0,37886378.0,25306499.0,13658343.0,529.0
LA,20962.0,208.0,20687.0,555568.0,208798.0,152280.0,NaN
LD,10365.0,51.0,10270.0,263541.0,55129.0,45951.0,44.0
MH,6611078.0,140216.0,6450585.0,62667211.0,67198794.0,30975692.0,3619.0
ML,83627.0,1450.0,81746.0,1151665.0,1103275.0,641819.0,NaN
MN,123731.0,1921.0,121102.0,1367673.0,1249436.0,719413.0,NaN
MP,792854.0,10524.0,782215.0,20294225.0,49911938.0,20838045.0,NaN
MZ,121359.0,432.0,114612.0,1298444.0,711597.0,512029.0,NaN
NL,31842.0,685.0,29904.0,395416.0,709553.0,490663.0,1043.0
OR,1041457.0,8386.0,1029147.0,21994343.0,25736641.0,11560912.0,NaN
PB,602401.0,16559.0,585591.0,15429415.0,15942714.0,6238973.0,NaN
PY,128013.0,1857.0,125726.0,1919060.0,733922.0,404355.0,NaN
RJ,954429.0,8954.0,945443.0,14807752.0,42544909.0,20097635.0,NaN
SK,31979.0,396.0,31063.0,261343.0,521763.0,451509.0,325.0
TG,671463.0,3956.0,663498.0,27569831.0,22498559.0,9772398.0,NaN
TN,2702623.0,36116.0,2655015.0,51159242.0,41279432.0,17619141.0,NaN
TR,84468.0,813.0,83466.0,1983127.0,2508477.0,1621329.0,63.0
TT,34285612.0,458470.0,33661339.0,609201294.0,732371508.0,330752697.0,13197.0
UP,1710158.0,22900.0,1687151.0,83635222.0,98178865.0,32681895.0,NaN
UT,343896.0,7400.0,330195.0,7781148.0,7478017.0,3898342.0,6150.0
WB,1592908.0,19141.0,1565471.0,19228303.0,56192166.0,21559747.0,NaN

In [16]:
new.reset_index(level=0,inplace=True)

In [17]:
new.rename({'index':'state_codes'},axis=1,inplace=True)
new

,state_codes,confirmed,deceased,recovered,tested,vaccinated1,vaccinated2,other
0,AN,7651.0,129.0,7518.0,598033.0,294001.0,200157.0,NaN
1,AP,2066450.0,14373.0,2047722.0,29518787.0,32976969.0,20375181.0,NaN
2,AR,55155.0,280.0,54774.0,1185436.0,771875.0,534486.0,NaN
3,AS,610645.0,5997.0,600974.0,24712042.0,20172463.0,8068795.0,1347.0
4,BR,726098.0,9661.0,716390.0,50531824.0,49874828.0,18346781.0,1.0
5,CH,65351.0,820.0,64495.0,792851.0,926035.0,546981.0,NaN
6,CT,1006052.0,13577.0,992159.0,13709510.0,14851682.0,7343273.0,NaN
7,DL,1439870.0,25091.0,1414431.0,29427753.0,13055636.0,7425404.0,NaN
8,DN,10681.0,4.0,10644.0,72410.0,660753.0,370255.0,31.0
9,GA,178108.0,3364.0,174392.0,1468399.0,1262568.0,911114.0,NaN
10,GJ,826577.0,10089.0,816283.0,30928063.0,44735217.0,25972387.0,NaN
11,HP,224106.0,3738.0,218410.0,3685011.0,5713695.0,3443823.0,16.0
12,HR,771252.0,10049.0,761068.0,13032504.0,17772376.0,8115463.0,NaN
13,JH,348764.0,5138.0,343518.0,15985878.0,14986646.0,5585648.0,NaN
14,JK,332249.0,4432.0,326915.0,16202346.0,9511073.0,5149471.0,NaN
15,KA,2988333.0,38082.0,2941578.0,50873103.0,42497761.0,22858384.0,29.0
16,KL,4968657.0,31681.0,4857181.0,37886378.0,25306499.0,13658343.0,529.0
17,LA,20962.0,208.0,20687.0,555568.0,208798.0,152280.0,NaN
18,LD,10365.0,51.0,10270.0,263541.0,55129.0,45951.0,44.0
19,MH,6611078.0,140216.0,6450585.0,62667211.0,67198794.0,30975692.0,3619.0
20,ML,83627.0,1450.0,81746.0,1151665.0,1103275.0,641819.0,NaN
21,MN,123731.0,1921.0,121102.0,1367673.0,1249436.0,719413.0,NaN
22,MP,792854.0,10524.0,782215.0,20294225.0,49911938.0,20838045.0,NaN
23,MZ,121359.0,432.0,114612.0,1298444.0,711597.0,512029.0,NaN
24,NL,31842.0,685.0,29904.0,395416.0,709553.0,490663.0,1043.0
25,OR,1041457.0,8386.0,1029147.0,21994343.0,25736641.0,11560912.0,NaN
26,PB,602401.0,16559.0,585591.0,15429415.0,15942714.0,6238973.0,NaN
27,PY,128013.0,1857.0,125726.0,1919060.0,733922.0,404355.0,NaN
28,RJ,954429.0,8954.0,945443.0,14807752.0,42544909.0,20097635.0,NaN
29,SK,31979.0,396.0,31063.0,261343.0,521763.0,451509.0,325.0
30,TG,671463.0,3956.0,663498.0,27569831.0,22498559.0,9772398.0,NaN
31,TN,2702623.0,36116.0,2655015.0,51159242.0,41279432.0,17619141.0,NaN
32,TR,84468.0,813.0,83466.0,1983127.0,2508477.0,1621329.0,63.0
33,TT,34285612.0,458470.0,33661339.0,609201294.0,732371508.0,330752697.0,13197.0
34,UP,1710158.0,22900.0,1687151.0,83635222.0,98178865.0,32681895.0,NaN
35,UT,343896.0,7400.0,330195.0,7781148.0,7478017.0,3898342.0,6150.0
36,WB,1592908.0,19141.0,1565471.0,19228303.0,56192166.0,21559747.0,NaN

In [12]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\hp\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\hp\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.1)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import mysql.connector
from mysql.connector import Error
from sqlalchemy import create_engine

In [14]:
host_name = 'localhost'
db_name = 'pandas_db'
u_name = 'root'
u_pass = '12345'
port_num = '3306'

In [15]:
my_eng = create_engine('mysql+mysqlconnector://' +u_name+ ':' + u_pass + '@' + host_name + ':' + port_num + 
                      '/' + db_name , echo= False)

In [18]:
new.to_sql(name='new', con=my_eng, if_exists='append', index=False)

37