# STATEWISE AND MONTHWISE CASES ANALYSIS

In [1]:
import requests
import json
from pprint import pprint
import pandas as pd
from datetime import datetime,date

In [2]:
response= requests.get("https://data.covid19india.org/v4/min/timeseries.min.json")
results= json.loads(response.text)

In [3]:
r2=pd.json_normalize(results,max_level=3)
r2

,AN.dates.2020-03-26.delta,AN.dates.2020-03-26.delta7,AN.dates.2020-03-26.total,AN.dates.2020-03-27.delta,AN.dates.2020-03-27.delta7,AN.dates.2020-03-27.total,AN.dates.2020-03-28.delta,AN.dates.2020-03-28.delta7,AN.dates.2020-03-28.total,AN.dates.2020-03-29.delta7,...,WB.dates.2021-10-28.total,WB.dates.2021-10-29.delta,WB.dates.2021-10-29.delta7,WB.dates.2021-10-29.total,WB.dates.2021-10-30.delta,WB.dates.2021-10-30.delta7,WB.dates.2021-10-30.total,WB.dates.2021-10-31.delta,WB.dates.2021-10-31.delta7,WB.dates.2021-10-31.total
0,{'confirmed': 1},{'confirmed': 1},{'confirmed': 1},{'confirmed': 5},{'confirmed': 6},{'confirmed': 6},{'confirmed': 3},{'confirmed': 9},{'confirmed': 9},{'confirmed': 9},...,"{'confirmed': 1590032, 'deceased': 19105, 'rec...","{'confirmed': 982, 'deceased': 8, 'recovered':...","{'confirmed': 6522, 'deceased': 80, 'recovered...","{'confirmed': 1591014, 'deceased': 19113, 'rec...","{'confirmed': 980, 'deceased': 13, 'recovered'...","{'confirmed': 6528, 'deceased': 81, 'recovered...","{'confirmed': 1591994, 'deceased': 19126, 'rec...","{'confirmed': 914, 'deceased': 15, 'recovered'...","{'confirmed': 6453, 'deceased': 86, 'recovered...","{'confirmed': 1592908, 'deceased': 19141, 'rec..."

In [32]:
r3=r2.transpose()
r3

                                                                            0
AN.dates.2020-03-26.delta                                    {'confirmed': 1}
AN.dates.2020-03-26.delta7                                   {'confirmed': 1}
AN.dates.2020-03-26.total                                    {'confirmed': 1}
AN.dates.2020-03-27.delta                                    {'confirmed': 5}
AN.dates.2020-03-27.delta7                                   {'confirmed': 6}
...                                                                       ...
WB.dates.2021-10-30.delta7  {'confirmed': 6528, 'deceased': 81, 'recovered...
WB.dates.2021-10-30.total   {'confirmed': 1591994, 'deceased': 19126, 'rec...
WB.dates.2021-10-31.delta   {'confirmed': 914, 'deceased': 15, 'recovered'...
WB.dates.2021-10-31.delta7  {'confirmed': 6453, 'deceased': 86, 'recovered...
WB.dates.2021-10-31.total   {'confirmed': 1592908, 'deceased': 19141, 'rec...

[64500 rows x 1 columns]

In [35]:
r3.rename({0:'data'},axis=1,inplace=True)
r3

                                                                         data
AN.dates.2020-03-26.delta                                    {'confirmed': 1}
AN.dates.2020-03-26.delta7                                   {'confirmed': 1}
AN.dates.2020-03-26.total                                    {'confirmed': 1}
AN.dates.2020-03-27.delta                                    {'confirmed': 5}
AN.dates.2020-03-27.delta7                                   {'confirmed': 6}
...                                                                       ...
WB.dates.2021-10-30.delta7  {'confirmed': 6528, 'deceased': 81, 'recovered...
WB.dates.2021-10-30.total   {'confirmed': 1591994, 'deceased': 19126, 'rec...
WB.dates.2021-10-31.delta   {'confirmed': 914, 'deceased': 15, 'recovered'...
WB.dates.2021-10-31.delta7  {'confirmed': 6453, 'deceased': 86, 'recovered...
WB.dates.2021-10-31.total   {'confirmed': 1592908, 'deceased': 19141, 'rec...

[64500 rows x 1 columns]

In [37]:
r4=r3['data'].apply(pd.Series)
r4

,confirmed,recovered,tested,other,deceased,vaccinated1,vaccinated2
AN.dates.2020-03-26.delta,1.0,NaN,NaN,NaN,NaN,NaN,NaN
AN.dates.2020-03-26.delta7,1.0,NaN,NaN,NaN,NaN,NaN,NaN
AN.dates.2020-03-26.total,1.0,NaN,NaN,NaN,NaN,NaN,NaN
AN.dates.2020-03-27.delta,5.0,NaN,NaN,NaN,NaN,NaN,NaN
AN.dates.2020-03-27.delta7,6.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
WB.dates.2021-10-30.delta7,6528.0,5868.0,295319.0,NaN,81.0,3809335.0,1870225.0
WB.dates.2021-10-30.total,1591994.0,1564558.0,19180886.0,NaN,19126.0,55982557.0,21500866.0
WB.dates.2021-10-31.delta,914.0,913.0,47417.0,NaN,15.0,209609.0,58881.0
WB.dates.2021-10-31.delta7,6453.0,5953.0,300114.0,NaN,86.0,3809597.0,1871612.0
WB.dates.2021-10-31.total,1592908.0,1565471.0,19228303.0,NaN,19141.0,56192166.0,21559747.0

In [38]:
r4.reset_index(level=0,inplace=True)

In [39]:
r4.rename({'index':'state_dates'},axis=1,inplace=True)
r4

,state_dates,confirmed,recovered,tested,other,deceased,vaccinated1,vaccinated2
0,AN.dates.2020-03-26.delta,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,AN.dates.2020-03-26.delta7,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,AN.dates.2020-03-26.total,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,AN.dates.2020-03-27.delta,5.0,NaN,NaN,NaN,NaN,NaN,NaN
4,AN.dates.2020-03-27.delta7,6.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
64495,WB.dates.2021-10-30.delta7,6528.0,5868.0,295319.0,NaN,81.0,3809335.0,1870225.0
64496,WB.dates.2021-10-30.total,1591994.0,1564558.0,19180886.0,NaN,19126.0,55982557.0,21500866.0
64497,WB.dates.2021-10-31.delta,914.0,913.0,47417.0,NaN,15.0,209609.0,58881.0
64498,WB.dates.2021-10-31.delta7,6453.0,5953.0,300114.0,NaN,86.0,3809597.0,1871612.0
64499,WB.dates.2021-10-31.total,1592908.0,1565471.0,19228303.0,NaN,19141.0,56192166.0,21559747.0

In [40]:
r4.drop(columns=["recovered","tested","other","deceased","vaccinated1","vaccinated2"],inplace=True)
r4

                      state_dates  confirmed
0       AN.dates.2020-03-26.delta        1.0
1      AN.dates.2020-03-26.delta7        1.0
2       AN.dates.2020-03-26.total        1.0
3       AN.dates.2020-03-27.delta        5.0
4      AN.dates.2020-03-27.delta7        6.0
...                           ...        ...
64495  WB.dates.2021-10-30.delta7     6528.0
64496   WB.dates.2021-10-30.total  1591994.0
64497   WB.dates.2021-10-31.delta      914.0
64498  WB.dates.2021-10-31.delta7     6453.0
64499   WB.dates.2021-10-31.total  1592908.0

[64500 rows x 2 columns]

In [41]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\hp\anaconda3\lib\site-packages (8.0.31)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\hp\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.1)

In [42]:
import mysql.connector
from mysql.connector import Error
from sqlalchemy import create_engine

In [43]:
host_name = 'localhost'
db_name = 'pandas_db'
u_name = 'root'
u_pass = '12345'
port_num = '3306'

In [44]:
my_eng = create_engine('mysql+mysqlconnector://' +u_name+ ':' + u_pass + '@' + host_name + ':' + port_num + 
                      '/' + db_name , echo= False)

In [46]:
r4.to_sql(name='r4', con=my_eng, if_exists='append', index=False)

64500