# DELTA7 CONFIRMED CASES VS VACCINATED CASES

### The main aim of second part of analysis is to Compare delta7 vaccinated cases with confirmed cases

In [1]:
#importing important libraries
import requests
import json
from pprint import pprint
import pandas as pd
from datetime import datetime,date

In [2]:
#Using the requests library to send an HTTP GET request to the specified URL. 
#The get() function retrieves the content of the URL and returns a Response object.
response= requests.get("https://data.covid19india.org/v4/min/data.min.json")

#Extracts the response content as text and uses the json.loads() function to parse the JSON data into a Python object.
#The parsed data is stored in the results variable.
results= json.loads(response.text)

In [3]:
#Printing the type of results
type(results)

dict

In [47]:
#This DataFrame represents the JSON data in a tabular format, where each key-value pair in the JSON becomes a column in the DataFrame.
df= pd.DataFrame(results)
df

,AN,AP,AR,AS,BR,CH,CT,DL,DN,GA,...,PY,RJ,SK,TG,TN,TR,TT,UP,UT,WB
delta,"{'tested': 1376, 'vaccinated1': 3, 'vaccinated...","{'confirmed': 385, 'deceased': 4, 'recovered':...","{'confirmed': 1, 'recovered': 9, 'tested': 334...","{'confirmed': 212, 'deceased': 1, 'recovered':...","{'confirmed': 8, 'recovered': 9, 'tested': 226...","{'confirmed': 5, 'recovered': 3, 'tested': 140...","{'confirmed': 32, 'deceased': 1, 'recovered': ...","{'confirmed': 45, 'recovered': 46, 'tested': 5...","{'recovered': 1, 'vaccinated1': 3, 'vaccinated...","{'confirmed': 23, 'recovered': 53, 'tested': 2...",...,"{'confirmed': 38, 'recovered': 45, 'tested': 2...","{'confirmed': 2, 'recovered': 2, 'tested': 134...","{'confirmed': 21, 'deceased': 1, 'recovered': ...","{'confirmed': 121, 'deceased': 1, 'recovered':...","{'confirmed': 1009, 'deceased': 19, 'recovered...","{'confirmed': 12, 'recovered': 2, 'tested': 35...","{'confirmed': 12907, 'deceased': 251, 'other':...","{'confirmed': 6, 'recovered': 6, 'tested': 161...","{'confirmed': 5, 'recovered': 9, 'tested': 952...","{'confirmed': 914, 'deceased': 15, 'recovered'..."
delta21_14,{'confirmed': 9},{'confirmed': 3220},{'confirmed': 87},{'confirmed': 1499},{'confirmed': 30},{'confirmed': 23},{'confirmed': 124},{'confirmed': 195},{'confirmed': 4},{'confirmed': 409},...,{'confirmed': 343},{'confirmed': 31},{'confirmed': 82},{'confirmed': 1068},{'confirmed': 8827},{'confirmed': 49},{'confirmed': 109755},{'confirmed': 74},{'confirmed': 88},{'confirmed': 4193}
delta7,"{'confirmed': 3, 'recovered': 5, 'tested': 893...","{'confirmed': 2873, 'deceased': 30, 'recovered...","{'confirmed': 66, 'recovered': 97, 'tested': 4...","{'confirmed': 2056, 'deceased': 24, 'recovered...","{'confirmed': 40, 'recovered': 31, 'tested': 1...","{'confirmed': 28, 'recovered': 20, 'tested': 1...","{'confirmed': 205, 'deceased': 5, 'recovered':...","{'confirmed': 267, 'recovered': 239, 'tested':...","{'recovered': 2, 'vaccinated1': 2802, 'vaccina...","{'confirmed': 222, 'deceased': 6, 'recovered':...",...,"{'confirmed': 278, 'recovered': 315, 'tested':...","{'confirmed': 27, 'recovered': 26, 'tested': 9...","{'confirmed': 79, 'deceased': 2, 'other': 6, '...","{'confirmed': 1189, 'deceased': 9, 'recovered'...","{'confirmed': 7407, 'deceased': 97, 'recovered...","{'confirmed': 87, 'recovered': 62, 'tested': 2...","{'confirmed': 96071, 'deceased': 3727, 'other'...","{'confirmed': 63, 'deceased': 1, 'recovered': ...","{'confirmed': 75, 'deceased': 1, 'other': 12, ...","{'confirmed': 6453, 'deceased': 86, 'recovered..."
districts,"{'Nicobars': {'delta7': {'vaccinated1': 62, 'v...","{'Anantapur': {'delta': {'confirmed': 4, 'reco...","{'Anjaw': {'delta7': {'vaccinated1': 45, 'vacc...","{'Baksa': {'delta': {'vaccinated1': 39, 'vacci...","{'Araria': {'delta': {'vaccinated1': 5177, 'va...","{'Chandigarh': {'delta': {'confirmed': 5, 'rec...","{'Balod': {'delta': {'vaccinated1': 523, 'vacc...","{'Delhi': {'delta': {'confirmed': 45, 'recover...",{'Dadra and Nagar Haveli': {'delta': {'vaccina...,"{'North Goa': {'delta': {'vaccinated1': 1070, ...",...,"{'Karaikal': {'delta': {'confirmed': 6, 'recov...","{'Ajmer': {'delta': {'vaccinated1': 110, 'vacc...",{'East Sikkim': {'delta7': {'vaccinated1': 528...,"{'Adilabad': {'delta': {'vaccinated1': 165, 'v...",{'Airport Quarantine': {'delta21_14': {'confir...,"{'Dhalai': {'delta': {'vaccinated1': 5, 'vacci...",NaN,"{'Agra': {'delta': {'vaccinated1': 178, 'vacci...","{'Almora': {'delta': {'vaccinated1': 37, 'vacc...","{'Alipurduar': {'delta': {'confirmed': 4, 'rec..."
meta,"{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...",...,"{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1..."
total,"{'confirmed': 7651, 'deceased': 129, 'recovere...","{'confirmed': 2066450, 'deceased': 14373, 'rec...","{'confirmed': 55155, 'deceased': 280, 'recover...","{'confirmed': 610645, 'deceased': 5997, 'other...","{'confirmed': 726098, 'deceased': 9661, 'other...","{'confirmed': 65351, 'deceased': 820, 'recover...","{'confirmed': 1006052, 'deceased': 13577, 'rec...","{'confirmed': 1439870, 'deceased': 25091, 'rec...","{'confirmed': 10681, 'deceased': 4, 'other': 3...","{'confirmed': 178108, 'deceased': 3364, 'recov...",...,"{'confirmed': 128013, 'deceased': 1857, 'recov...","{'confirmed': 954429, 'deceased': 8954, 'recov...","{'confirmed': 31979, 'deceased': 396, 'other':...","{'confirmed': 671463, 'deceased': 3956, 'recov...","{'confirmed': 2702623, 'deceased': 36116, 'rec...","{'confirmed': 84468, 'deceased': 813, 'other':...","{'confirmed': 34285612, 'deceased': 458470, 'o...","{'confirmed': 1710158, 'deceased': 22900, 'rec...","{'confirmed': 343896, 'deceased': 7400, 'other...","{'confirmed': 1592908, 'deceased': 19141, 'rec..."

In [48]:
#Dropping the irrelevant rows from df as our main focus is only on delta7 row
df.drop('delta',inplace =True)
df.drop('delta21_14',inplace =True)
df.drop('districts',inplace =True)
df.drop('meta',inplace =True)
df.drop('total',inplace =True)

In [49]:
#Transposing the dataframe df for better visual
df2=df.transpose()
df2

                                               delta7
AN  {'confirmed': 3, 'recovered': 5, 'tested': 893...
AP  {'confirmed': 2873, 'deceased': 30, 'recovered...
AR  {'confirmed': 66, 'recovered': 97, 'tested': 4...
AS  {'confirmed': 2056, 'deceased': 24, 'recovered...
BR  {'confirmed': 40, 'recovered': 31, 'tested': 1...
CH  {'confirmed': 28, 'recovered': 20, 'tested': 1...
CT  {'confirmed': 205, 'deceased': 5, 'recovered':...
DL  {'confirmed': 267, 'recovered': 239, 'tested':...
DN  {'recovered': 2, 'vaccinated1': 2802, 'vaccina...
GA  {'confirmed': 222, 'deceased': 6, 'recovered':...
GJ  {'confirmed': 159, 'deceased': 2, 'recovered':...
HP  {'confirmed': 1537, 'deceased': 20, 'other': -...
HR  {'confirmed': 95, 'recovered': 87, 'tested': 1...
JH  {'confirmed': 137, 'deceased': 3, 'recovered':...
JK  {'confirmed': 611, 'deceased': 3, 'recovered':...
KA  {'confirmed': 2347, 'deceased': 75, 'recovered...
KL  {'confirmed': 53326, 'deceased': 3089, 'recove...
LA  {'confirmed': 58, 'recovered': 28, 'tested': 2...
LD  {'tested': 1625, 'vaccinated1': 69, 'vaccinate...
MH  {'confirmed': 8117, 'deceased': 200, 'other': ...
ML  {'confirmed': 256, 'deceased': 4, 'recovered':...
MN  {'confirmed': 439, 'deceased': 10, 'recovered'...
MP  {'confirmed': 105, 'deceased': 1, 'recovered':...
MZ  {'confirmed': 4098, 'deceased': 21, 'recovered...
NL  {'confirmed': 130, 'deceased': 6, 'other': 13,...
OR  {'confirmed': 3046, 'deceased': 24, 'recovered...
PB  {'confirmed': 192, 'deceased': 8, 'recovered':...
PY  {'confirmed': 278, 'recovered': 315, 'tested':...
RJ  {'confirmed': 27, 'recovered': 26, 'tested': 9...
SK  {'confirmed': 79, 'deceased': 2, 'other': 6, '...
TG  {'confirmed': 1189, 'deceased': 9, 'recovered'...
TN  {'confirmed': 7407, 'deceased': 97, 'recovered...
TR  {'confirmed': 87, 'recovered': 62, 'tested': 2...
TT  {'confirmed': 96071, 'deceased': 3727, 'other'...
UP  {'confirmed': 63, 'deceased': 1, 'recovered': ...
UT  {'confirmed': 75, 'deceased': 1, 'other': 12, ...
WB  {'confirmed': 6453, 'deceased': 86, 'recovered...

In [50]:
#creating a new DataFrame called DELTA by extracting the 'delta7' column from the DataFrame df2
#Also expanding it into separate columns using the apply() function with pd.Series.
DELTA=df2['delta7'].apply(pd.Series)
DELTA

    confirmed  recovered     tested  vaccinated1  vaccinated2  deceased  other
AN        3.0        5.0     8936.0        884.0      10640.0       NaN    NaN
AP     2873.0     3590.0   254532.0    1223010.0    1887005.0      30.0    NaN
AR       66.0       97.0     4788.0       3312.0      23647.0       NaN    NaN
AS     2056.0     2215.0   269097.0     274869.0     849889.0      24.0    NaN
BR       40.0       31.0  1378539.0    1286708.0    2144970.0       NaN    NaN
CH       28.0       20.0    10726.0       3680.0      21641.0       NaN    NaN
CT      205.0      103.0   147451.0     379374.0     604260.0       5.0    NaN
DL      267.0      239.0   395086.0     160323.0     269146.0       NaN    NaN
DN        NaN        2.0        NaN       2802.0      14244.0       NaN    NaN
GA      222.0      409.0    19026.0       8418.0      46494.0       6.0    NaN
GJ      159.0      116.0   328489.0     335172.0    1660382.0       2.0    NaN
HP     1537.0     1154.0    64352.0      13244.0     234011.0      20.0   -1.0
HR       95.0       87.0   148110.0     160777.0     368141.0       NaN    NaN
JH      137.0      250.0   464579.0     299587.0     428313.0       3.0    NaN
JK      611.0      572.0   254608.0      33383.0     414843.0       3.0    NaN
KA     2347.0     2339.0   724215.0     623591.0    1373861.0      75.0    NaN
KL    53326.0    48406.0   506604.0     109805.0     792534.0    3089.0    NaN
LA       58.0       28.0     2475.0        525.0       1532.0       NaN    NaN
LD        NaN        NaN     1625.0         69.0        796.0       NaN    NaN
MH     8117.0    15146.0   773516.0    1611778.0    1282938.0     200.0    7.0
ML      256.0      460.0    13944.0       7871.0      41927.0       4.0    NaN
MN      439.0      652.0    12787.0       7665.0      71276.0      10.0    NaN
MP      105.0       74.0   393209.0     148817.0    2034460.0       1.0    NaN
MZ     4098.0     5685.0    42841.0       4302.0      11262.0      21.0    NaN
NL      130.0      144.0     4606.0       4706.0      23628.0       6.0   13.0
OR     3046.0     3230.0   473919.0     731837.0     917236.0      24.0    NaN
PB      192.0      162.0   221114.0     200182.0     223256.0       8.0    NaN
PY      278.0      315.0    21095.0       8324.0      20073.0       NaN    NaN
RJ       27.0       26.0    95132.0     271500.0     864947.0       NaN    NaN
SK       79.0       76.0     2847.0        782.0      14044.0       2.0    6.0
TG     1189.0     1121.0   261086.0    1072389.0     961422.0       9.0    NaN
TN     7407.0     8852.0   858304.0     788134.0    1578082.0      97.0    NaN
TR       87.0       62.0    22126.0       4155.0      74642.0       NaN    NaN
TT    96071.0   101753.0  8431577.0   15883780.0   24527530.0    3727.0   37.0
UP       63.0       58.0  1140736.0    2266921.0    3130828.0       1.0    NaN
UT       75.0       74.0    83377.0      25250.0     258381.0       1.0   12.0
WB     6453.0     5953.0   300114.0    3809597.0    1871612.0      86.0    NaN

In [51]:
#modifying the DataFrame DElta by resetting the index and making the current index values become a column in the DataFrame.
DELTA.reset_index(level=0,inplace=True)
#modifying the DataFrame AN by renaming the column labeled 'index' to 'state_codes'
DELTA.rename({'index':'state_codes'},axis=1,inplace=True)
DELTA

,state_codes,confirmed,recovered,tested,vaccinated1,vaccinated2,deceased,other
0,AN,3.0,5.0,8936.0,884.0,10640.0,NaN,NaN
1,AP,2873.0,3590.0,254532.0,1223010.0,1887005.0,30.0,NaN
2,AR,66.0,97.0,4788.0,3312.0,23647.0,NaN,NaN
3,AS,2056.0,2215.0,269097.0,274869.0,849889.0,24.0,NaN
4,BR,40.0,31.0,1378539.0,1286708.0,2144970.0,NaN,NaN
5,CH,28.0,20.0,10726.0,3680.0,21641.0,NaN,NaN
6,CT,205.0,103.0,147451.0,379374.0,604260.0,5.0,NaN
7,DL,267.0,239.0,395086.0,160323.0,269146.0,NaN,NaN
8,DN,NaN,2.0,NaN,2802.0,14244.0,NaN,NaN
9,GA,222.0,409.0,19026.0,8418.0,46494.0,6.0,NaN
10,GJ,159.0,116.0,328489.0,335172.0,1660382.0,2.0,NaN
11,HP,1537.0,1154.0,64352.0,13244.0,234011.0,20.0,-1.0
12,HR,95.0,87.0,148110.0,160777.0,368141.0,NaN,NaN
13,JH,137.0,250.0,464579.0,299587.0,428313.0,3.0,NaN
14,JK,611.0,572.0,254608.0,33383.0,414843.0,3.0,NaN
15,KA,2347.0,2339.0,724215.0,623591.0,1373861.0,75.0,NaN
16,KL,53326.0,48406.0,506604.0,109805.0,792534.0,3089.0,NaN
17,LA,58.0,28.0,2475.0,525.0,1532.0,NaN,NaN
18,LD,NaN,NaN,1625.0,69.0,796.0,NaN,NaN
19,MH,8117.0,15146.0,773516.0,1611778.0,1282938.0,200.0,7.0
20,ML,256.0,460.0,13944.0,7871.0,41927.0,4.0,NaN
21,MN,439.0,652.0,12787.0,7665.0,71276.0,10.0,NaN
22,MP,105.0,74.0,393209.0,148817.0,2034460.0,1.0,NaN
23,MZ,4098.0,5685.0,42841.0,4302.0,11262.0,21.0,NaN
24,NL,130.0,144.0,4606.0,4706.0,23628.0,6.0,13.0
25,OR,3046.0,3230.0,473919.0,731837.0,917236.0,24.0,NaN
26,PB,192.0,162.0,221114.0,200182.0,223256.0,8.0,NaN
27,PY,278.0,315.0,21095.0,8324.0,20073.0,NaN,NaN
28,RJ,27.0,26.0,95132.0,271500.0,864947.0,NaN,NaN
29,SK,79.0,76.0,2847.0,782.0,14044.0,2.0,6.0
30,TG,1189.0,1121.0,261086.0,1072389.0,961422.0,9.0,NaN
31,TN,7407.0,8852.0,858304.0,788134.0,1578082.0,97.0,NaN
32,TR,87.0,62.0,22126.0,4155.0,74642.0,NaN,NaN
33,TT,96071.0,101753.0,8431577.0,15883780.0,24527530.0,3727.0,37.0
34,UP,63.0,58.0,1140736.0,2266921.0,3130828.0,1.0,NaN
35,UT,75.0,74.0,83377.0,25250.0,258381.0,1.0,12.0
36,WB,6453.0,5953.0,300114.0,3809597.0,1871612.0,86.0,NaN

### IMPORTING THE ABOVE DATAFRAME TO MY SQL WORKBENCH DIRECTLY

In [52]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\hp\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\hp\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.1)
Note: you may need to restart the kernel to use updated packages.

In [53]:
import mysql.connector
from mysql.connector import Error
from sqlalchemy import create_engine

In [54]:
host_name = 'localhost'
db_name = 'pandas_db'
u_name = 'root'
u_pass = '12345'
port_num = '3306'

In [55]:
my_eng = create_engine('mysql+mysqlconnector://' +u_name+ ':' + u_pass + '@' + host_name + ':' + port_num + 
                      '/' + db_name , echo= False)

In [56]:
DELTA.to_sql(name='DELTA', con=my_eng, if_exists='append', index=False)

C:\Users\hp\anaconda3\lib\site-packages\pandas\io\sql.py:1666: UserWarning: The provided table name 'DELTA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

37